<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ALTA PRODUCTO</h1>
    <div>
        <form action="/product/create" method="POST" enctype="multipart/form-data">
        <div class="fr_nombre">
            <label for="categoryId" class="fr_lbltexto"> Categoria </label>
            <select name="categoryId" id="">
                <option value="" disabled selected>- Seleccione una categoria - </option>
                <% allCategories.forEach(category => { %>
                <option value="<%= category.id %>"><%= category.name %></option>
                <% }); %>
            </select>
        </div>
        <div class="fr_nombre">
            <label for="brandId" class="fr_lbltexto"> Marca </label>
            <select name="brandId" id="" >
                <option value="" disabled selected>- Seleccione una marca - </option>
                <% allBrands.forEach(brand => { %>
                <option value="<%= brand.id %>"><%= brand.name %></option>
                <% }); %>
            </select>
        </div>
        <div class="fr_nombre">
            <label class="fr_lbltexto" for="name">Nombre</label>
            <input type="text" name="name" id="" >
        </div>
        <div class="fr_email">
            <label class="fr_lbltexto" for="description"> Descripción </label>
            <input type="textarea" name="description" id="" >
        </div>
        <div class="fr_email">
            <label class="fr_lbltexto" for="extended"> Descripción ampliada</label>
            <textarea name="extended_description" id="" ></textarea>
        </div>
        <div class="fr_email">
            <label class="fr_lbltexto" for="price"> Precio </label>
            <input type="text" name="price" id="" >
        </div>
        <div class="fr_email check-talles">
            <label for="colorId" class="fr_lbltexto"> Color </label>
            <select name="colorId" id="" >
                <option value="" disabled selected>- Seleccione un color- </option>
                <% allColors.forEach(color => { %>
                <option value="<%= color.id %>"><%= color.name %></option>
                <% }); %>
            </select>
        </div>
        
        <div class="fr_email check-talles">
            <label for="sizeId" class="fr_lbltexto"> Talle </label>
            <select name="sizeId" id="" >
                <option value="" disabled selected>- Seleccione un talle- </option>
                <% allSizes.forEach(size => { %>
                <option value="<%= size.id %>"><%= size.name %></option>
                <% }); %>
            </select>
        </div>
        <div class="fr_email">
            <label class="fr_lbltexto" for="stock"> Stock</label>
            <input type="text" name="stock" id="" >
        </div>
        <div class="fr_email">
            <label class="fr_lbltexto" for="stock_min"> Stock Minimo</label>
            <input type="text" name="stock_min" id="">
        </div>
        <div class="fr_email">
            <label class="fr_lbltexto" for="stock_max"> Stock Maximo</label>
            <input type="text" name="stock_max" id="">
        </div>
        <div class="fr_email">
            <label class="fr_lbltexto" for="image"> Imagen de producto </label>
            <input type="file" name="image" id="image"  accept=".jpg, .png">
        </div>
        <div class="fr_email check-x">
            <label for="home" class="fr_lbltexto"> Destacado Home </label> 
              <input type="checkbox" name="home" id="" >
    </div>
    <div class="fr_email check-talles">
        <label for="visibilityId" class="fr_lbltexto"> Visibilidad </label>
        <select name="visibilityId" id="">
            <option value="" disabled selected>- Seleccione Visibilidad del producto- </option>
            <% allVisibilities.forEach(visibility => { %>
            <option value="<%= visibility.id %>"><%= visibility.name %></option>
            <% }); %>
        </select>
    </div>
        <!--</div>-->
        <br>
        <div class="fr_registro">
            <div class="fr_registro-left">
                <button type="submit" class="pd_gl-cta pd_gl-cta--primary">
                    <span class="pd_gl-cta__content">
                        Crear
                    </span>
                </button>
            </div>
        </div>
    </form> 
</div>
</body>
</html>