<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar usuario</title>
</head>

<body>
    

    <form action="/users/update/<%= users.id %>?_method=PUT" method="POST">
        <label for="firstName">Nombre</label>
        <input type="text" name="firstName" id="firstName" value="<%= users.firstName %>" required>
        <br>
        <label for="lastName">Apellido</label>
        <input type="text" name="lastName" id="lastName" value="<%= users.lastName %>" required>
        <br>
        <label for="userName">Usuario</label>
        <input type="text" name="userName" id="userName" value="<%= users.userName %>" required>
        <br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="<%= users.email %>" required>
        <br>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required>
        <br>
        <label for="avatar">Avatar</label>
        <input type="file" name="avatar" id="avatar" value="">
        <br>
        <button class="createUser" type="submit">Editar</button>
    </form>
    <form action="/users/delete/<%= users.id %>?_method=DELETE" method="POST">
        <button class="deleteUser" type="submit">Borrar</button>
    </form>
    <br><br><br><br>
    <a  class="botonVolver" href="/users">Listado de Usuarios</a>
</body>
</html>