<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de usuario</title>
</head>
<body>
    <h1>DETALLE DE USUARIO</h1>
   <div>
    <div><img src="/avatars/<%= users.avatar %>" alt="<%= users.firstName %> "></div>
    <p>Nombre: <%= users.firstName %> </p>
    <p>Apellido: <%= users.lastName %> </p>
    <p>Usuario: <%= users.userName %> </p>
    <p>Email: <%= users.email %> </p>
    <p>Rol: <%= users.rol.name %> </p>
    
    <br>
    <section>
        <a class="botonModificar" href="/users/edit/<%= users.id %>">Modificar</a> <br>
        <a class="botonVolver" href="/users">Listado de Usuarios</a>

        <form action="/users/delete/<%= users.id %>?_method=DELETE" method="POST">
            <br>
            <p> <button class="botonBorrar" type="submit">Eliminar el Usuario</button></p>

        </form>
    </section>
</div>
</body>
</html>